@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}



.kanan{
    /* animation: fadeLeft 2s ease-in infinite; */
    animation: float 3s ease-in-out infinite;
}
.kiriAbout{
    animation: float 4s ease-in-out infinite;
}

.navMenu a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffb703;
    transition: width .3s;
  }
  .navMenu a:hover::after{
    width: 100%;
    transform-origin: center;
}


/* Scrollbar Direktori UMKM */
.DirektoriList {
  padding-bottom: 20px;
}

.DirektoriList::-webkit-scrollbar {
  height: 6px;
}

.DirektoriList::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  margin: 0 20px;
  border-radius : 50px;
}

.DirektoriList::-webkit-scrollbar-thumb {
  background: #610b37;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.DirektoriList::-webkit-scrollbar-thumb:hover {
  background: #370B22;
  transform: scaleY(1.3);
  box-shadow: 0 2px 15px rgba(160, 93, 127, 0.4);
}

/* Direktori Card Styles */
.direktori-card {
  height: 250px;
  width: 300px;
  flex-shrink: 0;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
}

.direktori-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.direktori-card:hover::before {
  height: 30%;
}

.direktori-card img {
  transition: transform 0.3s ease-in-out;
}

.direktori-card:hover img {
  transform: scale(1.05);
}

.direktori-card h1 {
  position: absolute;
  bottom: -40px;
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.direktori-card:hover h1 {
  bottom: 20px;
}


.LayananContentChat:hover{
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@keyframes fadeLeft {
 0%{ transform: scale(0.5);}   
100%{
    transform:scale(1)
}
}

