/* Tampilan HP */
@media only screen and (max-width: 600px) {

  .btnBack{
    margin: 0;
    padding: 0;
    position: fixed !important;
    flex-direction: column;
  }

  .btnBack a {
    width: 2px;
    height: 2px;
  }

  .text {
    position: relative !important;
    font-size: medium;
    text-align: center;
    margin-left: 35px;
    margin-top: 20px;
    font-weight: 400;
  }

  .text h1 {
    font-size: 1.2rem;
    padding: 0 10px;
  }

  .content-chat{
    margin-top: 20px;
    width: 300px !important;
    height: 550px !important;
  }

  .input-area input {
    width: 100px;
    height: 40px;
  }

  .input-area button {
    height: 40px;
  }
}

/* Tampilan Tab */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .btnBack{
    margin: 0;
    padding: 0;
    position: fixed !important;
    flex-direction: column;
  }

    .text {
    position: relative;
    justify-items: center;
    align-items: center;
    text-align: center ;
    font-size: x-large;
    margin-top: 20px;
    margin-left: 12rem;
    font-weight: 400;
  }

  .content-chat{
    width: 80%;
    height: 70vh;
    margin: 20px auto;
  }
}